# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and backup files
*.bak
*.bak_*
*.swp
*~

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# ROS / Colcon build artifacts
build/
install/
log/
